@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html{
    height:100%;
}
body{
    height:100%;
    background-color: #D4CBCC;
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans' , 'sans-serif';
}
h2{
    padding: 0px;
    margin: 0px;
}
.head{
    position: relative;
    z-index: 1;
    height:80px;
    width: 100%;
    /*background-image: url(image/5.jpg);*/
    background-color: #660000;
    background-size: 100%;
    background-attachment: fixed;
    /*-webkit-filter: brightness(40%) blur(2px);*/
}
.menu{

    position: absolute;
    top:0px;
    width: 100%;
    text-align: right;
    z-index: 21;
}
.menu ul{
    margin: 0px;
    display: block;
    padding:30px;
    padding-top:10px;
    list-style-type:none;
}
.menu ul li a{
    display: block;
    float: right;
    padding:15px;
    text-decoration: none;
    color:white;
    font-family: 'Open Sans' , 'sans-serif';
    font-size: 16px;
    transition: 0.1s;
    border-bottom: 4px solid rgba(255,255,255,0);
}
.menu ul li a:hover{
    /*background-color: red;*/
    border-bottom: 4px solid white;
}
.content{
    max-width: 900px;
    margin: auto;
    background-color: white;
    padding-top: 80px;
    padding-bottom: 90px;
    min-height:100%;
    margin-top: -80px;
    position: relative;
    z-index: 0;

}
.tatle{
    padding-top:30px;
    padding-left: 50px;
}
.tatle a {
    text-decoration: none;
    color:black;
}
.text{
    width: 100%;
    height: 80px;
    overflow: hidden;
}
.news .text p {
    text-align:  justify;
    text-indent: 1.5em;
    padding-left: 40px;
    padding-right: 30px;

}
.view{
    color: #948B8C;
    width: 100%;
    text-align: right;
}
.view p {
    margin-top: 8px;
    margin-bottom: 0px;
    padding-right: 50px;
    font-style: italic;
}
.footer{
    width: 100%;
    position: relative;
    bottom: 0;
    height: 60px;
    background-color: #0D181D;
    margin-top:-60px;
}
