@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html{
    height:100%;
}
body{
    height:100%;
    background-color: #D4CBCC;
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans' , 'sans-serif';
}
h2{
    padding: 0px;
    margin: 0px;
}
.head{
    position: relative;
    z-index: 1;
    height:80px;
    width: 100%;
    /*background-image: url(image/5.jpg);*/
    background-color: #660000;
    background-size: 100%;
    background-attachment: fixed;
    /*-webkit-filter: brightness(40%) blur(2px);*/
}
.menu{

    position: absolute;
    top:0px;
    width: 100%;
    text-align: right;
    z-index: 21;
}
.menu ul{
    margin: 0px;
    display: block;
    padding:30px;
    padding-top:10px;
    list-style-type:none;
}
.menu ul li a{
    display: block;
    float: right;
    padding:15px;
    text-decoration: none;
    color:white;
    font-family: 'Open Sans' , 'sans-serif';
    font-size: 16px;
    border-bottom: 4px solid rgba(255,255,255,0);
}
.menu ul li a:hover{
    /*background-color: red;*/
    border-bottom: 4px solid white;
}
.content{
    max-width: 900px;
    margin: auto;
    background-color: white;
    padding-top: 80px;
    padding-bottom: 90px;
    min-height:100%;
    margin-top: -80px;
    position: relative;
    z-index: 0;

}
.tatle{
    padding-top:30px;
    padding-left: 50px;
}
.tatle a {
    text-decoration: none;
    color:black;
}
.text{
    width: 100%;
    height: 80px;
    overflow: hidden;
}
.news .text p {
    text-align:  justify;
    text-indent: 1.5em;
    padding-left: 40px;
    padding-right: 30px;

}
.view{
    color: #948B8C;
    width: 100%;
    text-align: right;
}
.view p {
    margin-top: 8px;
    margin-bottom: 0px;
    padding-right: 50px;
    font-style: italic;
}
.footer{
    width: 100%;
    position: relative;
    bottom: 0;
    height: 60px;
    background-color: #0D181D;
    margin-top:-60px;
}
.last{
    padding-bottom:30px;
}
.login{
    width: 100%;
    position: relative;
    bottom: 0;
    min-height: 100%;
}
.footer-login{
    background-color: #0D181D;
    height: 60px;
    margin-top:-60px;
}
.loging{
    border-radius: 3px;
    position: relative;
    background-color: white;
    max-width: 320px;
    margin:auto;
    margin-top:60px;
    /*padding-bottom: 70px;*/
}
.login-inp{
    padding: 10px;
    font-family: 'Open Sans' , 'sans-serif';
    font-size: 16px;
    margin-left:50px;
    margin-top: 30px;
    min-width:200px ;
    border: 0px solid white;
    border-bottom: 1px solid #A0ABB0;
}
.login-inp:focus{
    outline: none;
    border-bottom: 1px solid #A0ABB0;
}
.sab-inp{
    border-radius: 3px;
    outline: none;
    border: none;
    color: white;
    background-color: #660000;
    position: absolute;
    right: 30px;
    bottom: 20px;
    margin-top:10px;
    height: 50px;
    width: 100px;
}
.regist{
    display: block;
    line-height: 30px;
    color: black;
    text-decoration: none;
    margin-left: 30px;
    margin-top:70px;
    padding-bottom:32px;
}
.botom{
    margin-bottom: 120px;
}
.i-m {
    padding-top: 20px;
    height: 250px;
}
.avatar{
    margin-left: 20px;
    height:100%;
    float: left;
}
.about-me{

    margin-left: 20px;
    float: left;
}
.bt-exit{
    float: right;
    margin-right: 40px;
    margin-top: 20px;
}
.bt-exit a:hover{
    background-color: #0D181D;
}
.bt-exit a {
    transition: 0.5s;
    display: block;
    text-decoration: none;
    color:white;
    background-color: #660000;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
}
hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
}